{{#each pages}}
<div>
  <table class="entries" id="table-{{pRef}}">
    <caption onClick="toggleDisplay( 'tbody-{{pRef}}', 'table-row-group' );
    toggleDisplay( 'thead-{{pRef}}', 'table-header-group'
    ); toggleExpander( 'expander-{{pRef}}' );"><i id="expander-{{pRef}}"
    class="material-icons">expand_more</i> Page {{{inc @index}}}:
      {{title}}</h2>
    <thead style="display:none" id="thead-{{pRef}}">
      <tr>
        <th class="url">Name</th>
        <th>Method</th>
        <th>Status</th>
        <th>Type</th>
        <th>Size</th>
        <th>Time</th>
        <th class="progress">Waterfall</th>
      </tr>
    </thead>
    <tbody style="display:none" id="tbody-{{pRef}}">
      {{#each .}}
      <tr id="entry-{{../pRef}}#{{@index}}" onClick="toggleDisplay(
                                                     'details-{{../pRef}}#{{@index}}',
                                                     'table-row' );
                                                     toggleExpander(
                                                     'expander-{{../pRef}}#{{@index}}' );" >
        <td class="url">
          <div>
            <b class="order">{{{inc @index}}}.</b>
            <i id="expander-{{../pRef}}#{{@index}}" class="material-icons">expand_more</i>
            <a href="{{fullUrl}}" onClick="return false;">{{fullUrl}}</a>
            <strong>{{fileName}}<em>{{params}}</em></strong>
            <span class="detail">{{{trimPath path}}}</span>
          </div>
        </td>
        <td>{{method}}</td>
        <td>{{status}}</td>
        <td>{{mime}}</td>
        <td>{{sizeToShow}}<span class="detail">{{fullSize}}</span></td>
        <td>{{totalTime}}</td>
        <td class="progress"><div style="width:{{startPosition}}"
                  class="progress-start"
            ></div><div style="width:{{blockedWidth}}"
                  class="progress-blocked"
            ></div><div style="width:{{dnsWidth}}"
                  class="progress-dns"
            ></div><div style="width:{{connectWidth}}"
                  class="progress-connect"
            ></div><div style="width:{{sendWidth}}"
                  class="progress-send"
            ></div><div style="width:{{waitWidth}}"
                  class="progress-wait"
            ></div><div style="width:{{receiveWidth}}"
                  class="progress-receive"
            ></div><div style="width:0"
                  class="progress-start"
            ></div></td>
      </tr>
      <tr id="details-{{../pRef}}#{{@index}}" style="display:none">
        <td class="entry-details" colspan="7">
          <ul class="entry-details-tabs">
            <li class="active"><a href="#headers" onClick="selectTab(
            event, 'headers' ); return false;">Headers</a></li>
            <li><a href="#response" onClick="selectTab(
            event, 'response' ); return false;">Response</a></li>
            <li><a href="#cookies" onClick="selectTab(
            event, 'cookies' ); return false;">Cookies</a></li>
            <li><a href="#timing" onClick="selectTab(
            event, 'timing' ); return false;">Timing</a></li>
          </ul>
          <div class="entry-details-content headers">
            <h3 class="headers-title">General</h3>
            <dl class="dl-horizontal">
              <dt>Request URL</dt>
              <dd><a href="{{fullUrl}}" target="_blank">{{fullUrl}}</a></dd>
              <dt>Request Method</dt>
              <dd>{{method}}</dd>
              <dt>Status Code</dt>
              <dd>{{fullStatus}}</dd>
              <dt>Remote Address</dt>
              <dd>{{serverIPAddress}}</dd>
            </dl>
            {{#if response}}
            <h3 class="headers-title">Response Headers</h3>
            <dl class="dl-horizontal">
              {{#each response.headers}}
              <dt title="{{name}}">{{name}}</dt>
              <dd>{{value}}</dd>
              {{/each}}
            </dl>
            {{/if}}
            {{#if request}}
            <h3 class="headers-title">Request Headers</h3>
            <dl class="dl-horizontal">
              {{#each request.headers}}
              <dt title="{{name}}">{{name}}</dt>
              <dd>{{value}}</dd>
              {{/each}}
            </dl>
            {{/if}}
          </div>
          <div class="entry-details-content response" style="display:none"
               >{{#if fileContent}}{{fileContent}}{{else}}No content{{/if}}</div>
          <div class="entry-details-content cookies" style="display:none">
            <h3 class="headers-title">Request Cookies</h3>
            <table class="cookies">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                {{#each requestCookies}}
                <tr>
                  <td title="{{name}}">{{name}}</td>
                  <td title="{{value}}">{{value}}</td>
                  <td title="{{value.length}}">{{value.length}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <h3 class="headers-title">Response Cookies</h3>
            <table class="cookies">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                  <th>Size</th>
                  <th>Path</th>
                  <th>Domain</th>
                  <th>Expires</th>
                  <th>HTTP only</th>
                  <th>Secure</th>
                </tr>
              </thead>
              <tbody>
                {{#each responseCookies}}
                <tr>
                  <td title="{{name}}">{{name}}</td>
                  <td title="{{value}}">{{value}}</td>
                  <td title="{{value.length}}">{{value.length}}</td>
                  <td title="{{path}}">{{path}}</td>
                  <td title="{{domain}}">{{domain}}</td>
                  <td title="{{expires}}">{{expires}}</td>
                  <td title="{{httpOnly}}">{{httpOnly}}</td>
                  <td title="{{expires}}">{{secure}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="entry-details-content timing" style="display:none">
            <table class="timing">
              <thead>
                <tr>
                  <th style="width: 100px">Stage</th>
                  <th>Waterfall</th>
                  <th style="width: 100px">Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Blocked</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                                  class="progress-blocked"
                      ></div><div style="width:{{dnsLocalWidth}}"
                      ></div><div style="width:{{connectLocalWidth}}"
                      ></div><div style="width:{{sendLocalWidth}}"
                      ></div><div style="width:{{waitLocalWidth}}"
                      ></div><div style="width:{{receiveLocalWidth}}"
                      ></div></td>
                  <td>{{blockedTime}}</td>
                </tr>
                <tr>
                  <td>DNS lookup</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                      ></div><div style="width:{{dnsLocalWidth}}"
                                  class="progress-dns"
                      ></div><div style="width:{{connectLocalWidth}}"
                      ></div><div style="width:{{sendLocalWidth}}"
                      ></div><div style="width:{{waitLocalWidth}}"
                      ></div><div style="width:{{receiveLocalWidth}}"
                      ></div></td>
                  <td>{{dnsTime}}</td>
                </tr>
                <tr>
                  <td>Connect</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                      ></div><div style="width:{{dnsLocalWidth}}"
                      ></div><div style="width:{{connectLocalWidth}}"
                                  class="progress-connect"
                      ></div><div style="width:{{sendLocalWidth}}"
                      ></div><div style="width:{{waitLocalWidth}}"
                      ></div><div style="width:{{receiveLocalWidth}}"
                      ></div></td>
                  <td>{{connectTime}}</td>
                </tr>
                <tr>
                  <td>Send</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                      ></div><div style="width:{{dnsLocalWidth}}"
                      ></div><div style="width:{{connectLocalWidth}}"
                      ></div><div style="width:{{sendLocalWidth}}"
                                  class="progress-send"
                      ></div><div style="width:{{waitLocalWidth}}"
                      ></div><div style="width:{{receiveLocalWidth}}"
                      ></div></td>
                  <td>{{sendTime}}</td>
                </tr>
                <tr>
                  <td>Wait</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                      ></div><div style="width:{{dnsLocalWidth}}"
                      ></div><div style="width:{{connectLocalWidth}}"
                      ></div><div style="width:{{sendLocalWidth}}"
                      ></div><div style="width:{{waitLocalWidth}}"
                                  class="progress-wait"
                      ></div><div style="width:{{receiveLocalWidth}}"
                      ></div></td>
                  <td>{{waitTime}}</td>
                </tr>
                <tr>
                  <td>Receive</td>
                  <td class="progress"><div style="width:{{blockedLocalWidth}}"
                      ></div><div style="width:{{dnsLocalWidth}}"
                      ></div><div style="width:{{connectLocalWidth}}"
                      ></div><div style="width:{{sendLocalWidth}}"
                      ></div><div style="width:{{waitLocalWidth}}"
                      ></div><div style="width:{{receiveLocalWidth}}"
                                  class="progress-receive"
                      ></div></td>
                  <td>{{receiveTime}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="7">{{length}} requests |
          Size: {{size.total}} ({{size.compressed}} compressed ) |
          DOMContentLoaded: {{load.content}} |
          Load: {{load.on}}
      </tr>
    </tfoot>
  </table>
</div>
{{/each}}

